html,body {
    background-color: #f0f8ff;
}

#mainHEADER {
    color: black;
    font-size: 60px;
    font-weight: 700;
    font-style: normal;
}

header {
    background-color: rgb(65, 157, 233);
    text-align: center;
    border: 2px solid #584ad8;
}

.link-flex-container {
    display: flex;
    background-color: rgb(183, 221, 255);
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid #584ad8;
    border-top-style: none;
}

.link-flex-container>div {
    background-color: rgb(183, 221, 255);
    padding: 10px;
    font-size: 20px;
}

.link-flex-container a:hover {
    background-color: rgba(137, 183, 223, 0.712);
    color: black;
}

.mainLINK {
    display: block;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

#avalableCARS {
    color: black;
    font-size: 20px;
    text-align: left;
}

.mainBODY {
    color: black;
    font-size: 20px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 85%;
    justify-self: center;
}

td,th {
    border: 1px solid #584ad8;
    border-left: none;
    border-right: none;
    border-top: none;
    text-align: left;
    padding: 8px
}

td {
    border: none;
}

tr:nth-child(odd) {
    background-color: #aeebfd23;
}

.i30_car_index {
    height: auto;
    width: auto;
}

.bookingCONTAINER {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #f0f8ff;
  padding: 10px;
  border: none;
}

.bookingCONTAINER > div {
  background-color: #f0f8ff;
  border: none;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

#mainBUTTONdiv {
    border: 2px black;
    justify-self: left;
    margin-top: 100px;
}

#mainBUTTON {
    background-color: gainsboro;
    color: black;
    padding: 28px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    cursor: pointer;
}

#mainBUTTON:hover {
    background-color: grey;

}
